.twp-toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 12px;
  background: #004ea2;
  padding: 12px 18px;
  box-shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.3),
    0 8px 10px -6px rgba(0, 0, 0, 0.3);
  border: 3px solid #fdd008;
  border-radius: 16px;
  color: white;
  animation: twp-slide-in 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.twp-toast-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.twp-toast-content {
  flex-grow: 1;
}

.twp-toast.twp-toast-fadeout {
  animation: twp-slide-out 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes twp-slide-in {
  from {
    transform: translateY(100px) scale(0.9);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes twp-slide-out {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(100px) scale(0.9);
    opacity: 0;
  }
}
